/* Vista detalle */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif !important;
}

.icono {
  width: 12.5%;
}

.link-detalle {
  text-decoration: none;
}

.justificado {
	text-align: justify;	
}

/* Tama単o sm */
@media screen and (min-width: 576px) {
  .icono {
    width: 20%;
  }
}

/* Tama単o md */
@media screen and (min-width: 768px) {
  .icono {
    width: 15%;
  }
}

/* A partir de tama単o lg */
@media screen and (min-width: 992px) {
	.icono {
    width: 16.3%;
  }
}

/* A partir de tama単o xl */
@media screen and (min-width: 1200px) {
	.icono {
    width: 15%;
  }
}
/* ... */
