@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Dyslexia mode */
@import "dyslexia-theme.css";
/* ... */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif !important;
}

/* HEADER */
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .toggle {
  position: relative;
  width: 40px;
  height: 40px;
  background: url('../images/index-menu/menu.png');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .toggle.active {
  background: url(../images/index-menu/close.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 30px;
}

header .toggle:before {
  content: "Menú";
  position: absolute;
  right: 45px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-size: 22px;
  padding: 2px 5px;
  background: #fff;
  color: #111;
}

header .toggle.active:before {
  content: "Cerrar";
}

header .logo {
  position: relative;
  font-size: 2em;
  color: #111;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 2px 2px 0 rgba (0, 0, 0, 0.1);
  transform: 0.5s;
}

header .logo:hover {
  color: #111;
}

section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  z-index: 1;
  backdrop-filter: blur(15px);
  box-shadow: 10px 0 15px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  transition-delay: 2.2s;
}

section.active .glass {
  width: 100%;
  backdrop-filter: blur(20px);
  box-shadow: 10px 0 15px rgba(0, 0, 0, 0.5);
  transition-delay: 0s;
}

section .content {
  position: relative;
  z-index: 10;
  text-align: center;
  transition: 0.5s;
  transition-delay: 2.2s;
}

section.active .content{
  opacity: 0;
  visibility: hidden;
  transform: translateX(-200px);
  transition-delay: 0s;
}

section .content h2 {
  position: relative;
  color: #fff;
  font-size: 10vw;
  line-height: 0.55em;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

section .content h2 span {
  font-size: 0.2em;
  font-weight: 300;
  letter-spacing: 5px;
  background: #fff;
  color: #111;
  padding: 0 10px;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

section .navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

section .navigation li {
  list-style: none;
  text-align: center;
  margin: 15px 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  transform: translateX(200px);
  transition-delay: calc(0.2s * var(--i));
}

section.active .navigation li {
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
}

section .navigation li a {
  color: #111;
  font-size: 1.5em;
  letter-spacing: 4px;
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  background: #fff;
  padding: 4px 10px;
  display: inline-block;
}

section .navigation li a:hover {
  background: #111;
  color: #fff;
  letter-spacing: 10px;
}

@media (max-width: 991px) {
  header {
    padding: 20px;
  }
  .glass {
    width: 50%;
  }
  section .content h2 {
    font-size: 18vw;
  }
  section .content h2 span {
    font-size: 0.25em;
    letter-spacing: 2px;
    padding: 0 5px;
  }
}
/* ... */

/* Sección animales */
.single-content {
  position: relative;
  transition: 0.3s;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.8);
}

.single-content .text-content, .single-content:after {
  position: absolute;
  left: 20px;
  right: 20px;
}

.single-content:after {
  content: '';
  display: block;
  background: #e74c3c;
  top: 20px;
  bottom: 20px;
  opacity: 0;
  transform: rotate3d(-1, 1, 0, 100deg);
  transition: 0.4s;
}

.single-content:hover:after {
  opacity: 0.9;
  transform: rotate3d(0, 0, 0, 0deg);
}

.single-content img {
  width: 100%;
  height: auto;
  max-height: 370px;
}

.single-content .btn {
  background-color: #24262b !important;
  color: #ffffff !important;
  opacity: 0.8;
}

.single-content .btn:hover {
  color: #ffffff !important;
  opacity: 1;
}

.text-content {
  top: 45%;
  opacity: 0;
  z-index: 1;
  transform: translate(10%, -30%);
  transition: 0.3s;
  text-align: center;
  color: #fff;
}

.single-content:hover .text-content {
  opacity: 1;
  transform: translate(0, -50%);
  transition-delay: 0.3s;
}
/* ... */

/* Formulario */
.modal-closed {
  color: #e74c3c !important;
  text-decoration: none;
  font-size: 35px;
}

.modal-closed:hover {
  color: #24262b !important;
}

.modal-closed:focus {
  outline: none !important;
}

.parrafo {
  color: #111111;
  text-align: justify;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 10px;
  border: none;
}

.card-body .btn,
.modal-body .btn {
  display: block;
  color: #fff;
  text-align: center;
  background: #e74c3c;
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}

body:not(.dark) .card-body .btn:hover,
body:not(.dark) .modal-body .btn:hover,
.btnPostAnimal:hover {
  color: #ffffff !important;
  background: #24262b !important;
}

.btnPostAnimal {
  color: #fff;
  background: #e74c3c !important;
  float: right;
}

.container-fluid .row .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}

.container-fluid .row .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #e74c3c;
}

.container-fluid .row .inputBox input, .container-fluid .row .inputBox.textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}

.select-custom {
  width: 100%;
  height: 100%;
  min-height: 40px;
  background-color: #e74c3c;
  border-radius: 2px;
  font-size: 18px;
  outline: none;
  box-shadow: none;
}

.select-text {
  color: #e74c3c;
  margin-top: -38px;
  line-height: 40px;
  font-size: 18px;
  display: block;
}

.container-fluid .row .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.container-fluid .row .inputBox input:focus + .text, .container-fluid .row .inputBox input:valid + .text {
  top: -35px;
  left: -10px;
}

.container-fluid .row .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #e74c3c;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.container-fluid .row .inputBox input:focus ~ .line, .container-fluid .row .inputBox input:valid ~ .line {
  height: 100%;
}

.container-fluid .row .inputBox.textarea textarea {
  height: 100%;
  overflow: hidden;
  resize: none;
} 

.container-fluid .row .inputBox textarea:focus + .text, .container-fluid .row .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}

.container-fluid .row .inputBox textarea:focus ~ .line, .container-fluid .row .inputBox textarea:valid ~ .line {
  height: 100%;
}

input[type="submit"] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #e74c3c;
  color: #000;
  font-size: 18px;
  border-radius: 2px;
}

input[type="submit"]:hover {
  background-color: #24262b;
  color: #ffffff;
}
/* ... */

/* Dark mode */
body.dark {
  background: #010409 !important;
  color: #f0f6fc !important;
}

body.dark .parrafo {
  color: #f0f6fc !important;
}

body.dark header .toggle:before,
body.dark section .content span {
  background: #010409 !important;
  color: #f0f6fc !important;  
}

body.dark header a {
  color: #010409 !important;
}

body.dark header .toggle {
  position: relative;
  width: 40px;
  height: 40px;
  background: url('../images/index-menu/menu-dark.png');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.dark header .toggle.active {
  background: url(../images/index-menu/close-dark.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 30px;
}

body.dark section .navigation li a {
  background: #30363d !important;
  color: #f0f6fc !important;
  opacity: 0.7;
}

body.dark section .navigation li a:hover {
  opacity: 0.85;
}

body.dark video {
  filter: grayscale(0.5);
}

body.dark img {
  filter: grayscale(0.5);
}

body.dark .btn {
  opacity: 0.7;
}

body.dark .btn:hover {
  opacity: 0.85;
}

body.dark .modal-closed,
body.dark .btnPostAnimal {
  opacity: 0.7;
}

body.dark .btnPostAnimal {
  color: #f0f6fc !important;
}

body.dark .modal-body {
  opacity: 1 !important;
  background-color: #21262d !important;
  border-color: #21262d !important;
  color: #f0f6fc !important;
}

body.dark .modal-header {
  background: #30363d !important;
  color: #f0f6fc !important;
}

body.dark .modal-closed:hover {
  opacity: 0.85;
  color: #f0f6fc !important;
}

body.dark .btnPostAnimal:hover {
  opacity: 0.85;
  background: #e74c3c !important;
}

body.dark .container-fluid .row .inputBox,
body.dark .select-custom,
body.dark .select-text {
  opacity: 0.7;
}

body.dark input[type="submit"] {
  opacity: 0.7;
  color: #f0f6fc !important;
}

body.dark input[type="submit"]:hover {
  opacity: 0.85;
  background-color: #e74c3c;
}
/* ... */
