/* Animales desaparecidos */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.justificado {
  text-align: justify;
}

* {
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card {
  background: #fff;
  border: 1px solid #ccc;
  transition: 0.3s;
}

.card-body {
  padding: 30px 20px;
  font-size: 18px;
}

.card-body .btn {
  display: block;
  color: #fff;
  text-align: center;
  background: #e74c3c;
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}

body:not(.dark) .card-body .btn:hover {
  background-color: #24262b;
  color: #ffffff !important;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.icono {
  width: 10%;
}

/* Dark mode */
body.dark {
  background: #010409 !important;
  color: #f0f6fc !important;
}

body.dark img {
  filter: grayscale(0.5);
}

body.dark .card {
  background: #21262d !important;
  border-color: #21262d !important;
}

body.dark .btnMissingAnimal {
  opacity: 0.7;
}

body.dark .btnMissingAnimal:hover {
  opacity: 0.85;
}
/* ... */

/* ... */
