/* Navbar */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif !important;
}

html, body {
	box-sizing: border-box;
	margin: 0;
	top: 0;
	left: 0;
}

/* color de los componentes del menú */
.nav-link, .navbar-brand {
	text-decoration: none;
	color: rgba(34,54,69,0.7) !important;
	font-weight: 500;
}

.nav-link:hover, .navbar-brand:hover {
	color: #e74c3c !important;
}

/* Mismo color que el color de fondo del navbars */
.nav-link:active, .navbar-brand:active {
	background-color: #f8f9fa !important;
}

.nav-link:visited, .navbar-brand:visited {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.navbar-nav {
	background-color: #f8f9fa;
}

.navbar {
	background: #111;
	padding: 3rem 2rem;
}

.navbar .navbar-brand a {
	padding: 1rem 0;
	display: block;
	text-decoration: none;
}

.navbar-brand {
	font-size: 2.5rem;
	color: #e74c3c;
}

.navbar-toggler {
	background: #e74c3c !important;
	border: none;
	padding: 10px 6px;
	outline: none;
}

.navbar-toggler span {
	display: block;
	width: 22px;
	height: 2px;
	border: 1px;
	background: #fff;
}

.navbar-toggler span + span {
	margin-top: 4px;
	width: 18px;
	height: 2px;
	margin-left: 4px;
}

.navbar-toggler span + span + span {
	width: 10px;
	margin-left: 10px;
}

.navbar-expand-xl .navbar-nav .nav-link {
	padding: 1rem 1.2rem;
	font-size: 1.1rem;
	position: relative;
}

.navbar-expand-xl .navbar-nav .nav-link:hover {
	border-top: 4px solid #e74c3c;
}

.navbar-expand-xl .navbar-nav .nav-link:active {
	border-top: 4px solid #e74c3c;
	color: #e74c3c;
}

.dropdown-menu,
.dropdown-item:active,
.dropdown-item:visited {
  background: #f8f9fa !important;
}

.dropdown-item,
.navbar-brand  {
  color: rgba(34,54,69,0.7) !important;
}

.dropdown-item li {
  background: #30363d !important;
}

.dropdown-item:hover {
  color: #e74c3c !important;
}

/* Aplica a medidas inferiores al tamaño xl */
@media screen and (max-width: 1200px) {
	.navbar-expand-xl .navbar-nav .nav-link:hover {
	  border-top: 0;
	  border-bottom: 4px solid #e74c3c;
	}

	.navbar-expand-xl .navbar-nav .nav-link:active {
	  border-top: 0;
	  border-bottom: 4px solid #e74c3c;
	  color: #e74c3c;
	}
}

.navbar-nav button {
	padding: 1.2rem 0;
}

.navbar .btn {
	background-color: #e74c3c;
	color: #000;
	border-radius: 0;
	padding: 0.7rem 1rem; 
	font-size: 1.1rem;
	margin-top: -10px;
}

.navbar-nav .btn:hover {
  background-color: #24262b;
  color: #ffffff;
}

/* Dark mode */
body.dark #navbar {
  background: #30363d !important;
  color: #f0f6fc !important;
}

body.dark .navbar-nav,
body.dark .nav-link:active {
  background: #30363d !important;	
}

body.dark .nav-link {
  color: #f0f6fc !important;
  opacity: 0.7;
}

body.dark .nav-link:hover {
  opacity: 0.85;
  color: #e74c3c !important;
}

body.dark .navbar-toggler {
	opacity: 0.7;
}

body.dark .navbar-toggler span,
body.dark .navbar-toggler span + span,
body.dark .navbar-toggler span + span + span {
	opacity: 0.7;
	background: #f0f6fc !important;
}

body.dark .navbar-brand,
body.dark .navbar-brand:active,
body.dark .navbar-brand:visited,
body.dark .dropdown-menu,
body.dark .dropdown-item:active,
body.dark .dropdown-item:visited {
  background: #30363d !important;
}

body.dark .dropdown-item {
  color: #f0f6fc !important;
}

body.dark .dropdown-item li {
  background: #30363d !important;
}

body.dark .dropdown-item:hover {
  opacity: 0.85;
  color: #e74c3c !important;
}

body.dark .navbar-brand {
  opacity: 0.7;
  color: #f0f6fc !important;
}

body.dark .navbar-brand:hover {
  opacity: 0.85;
  color: #e74c3c !important;
}

body.dark a .nav-link {
  color: #f0f6fc !important;
}

body.dark .navbar .btn {
  opacity: 0.7;
  color: #24262b !important;
}

body.dark .navbar-nav .btn:hover {
  opacity: 0.85;
  color: #f0f6fc !important;
  background-color: #e74c3c;
}
/* ... */

/* ... */