/* Navbar - Settings */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Dyslexia mode */
@import "dyslexia-theme.css";
/* ... */

* {
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif !important;
}

.nav-link-settings {
  text-decoration: none;
  color: rgba(34,54,69,0.7);
  font-weight: 500;
}

.nav-link-settings:hover {
  color: #e74c3c !important;
}

.nav-link-settings:active {
  background-color: white !important;
}

.nav-link-settings:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.vertical-menu {
  border-left: 1px solid #e74c3c;
}

/* Dark mode */
body.dark nav, body.dark .nav-link-settings {
  background-color: #010409 !important;
  color: #f0f6fc !important;
}

body.dark .nav-link-settings:active {
  background-color: #010409 !important;
}

body.dark .nav-link-settings:hover {
  color: #e74c3c !important;
}

body.dark .vertical-menu {
  opacity: 0.7;
}
/* ... */

/* ... */