/* Normativa */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Dyslexia mode */
@import "dyslexia-theme.css";
/* ... */

* {
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif !important;
}

.justificado {
  text-align: justify;
}

.link {
  text-decoration: none;
}

.icono {
  width: 9%;
}

/* Tamaño md */
@media screen and (min-width: 768px) {
  .icono {
    width: 7%;
  }
}

/* A partir de tamaño lg */
@media screen and (min-width: 992px) {
	.icono {
    width: 5%;
  }
}

/* A partir de tamaño xl */
@media screen and (min-width: 1200px) {
	.icono {
    width: 8.5%;
  }
}

/* Dark mode */
body.dark {
  background: #010409 !important;
  color: #f0f6fc !important;
}

body.dark .link {
  color: #6e7681 !important;
}
/* ... */
/* ... */
